## Conect and work with SQL

In [ ]:
# !pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.40-cp313-cp313-win_amd64.whl.metadata (9.9 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.2-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.13.2-py3-none-any.whl.metadata (3.0 kB)
Downloading sqlalchemy-2.0.40-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 2.3 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 3.3 MB/s eta 0:00:00
Downloading greenlet-3.2.2-cp313-cp313-win_amd64.whl (296 kB)
Downloading typing_extensions-4.13.2-py3-none-any.whl (45 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-3.2.2 sqlalchemy-2.0.40 typing-extensions-4.13.2

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# !pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, select

user = 'root'
password = 'user'
host = 'localhost'
port = 3306
database = 'sql_training'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")
# engine = create_engine(f"mysql+pymysql://root:user@localhost:3306/sql_training")


metadata = MetaData()

metadata.reflect(bind=engine)
print(metadata.tables.keys())

Sales_str = 'sales'
Products_str = 'products'

Sales_sql = metadata.tables[Sales_str]
Products_sql = metadata.tables[Products_str]

with engine.connect() as conn:
    query = select(Products_sql)
    df_products = pd.read_sql(query, conn)
    query = select(Sales_sql)
    df_sales = pd.read_sql(query, conn)

dict_keys(['products', 'sales'])

In [15]:

df_s = pd.read_sql(f'select * from {Sales_str} ',engine)
df_p = pd.read_sql(f'select * from {Products_str}',engine)
print("\n Products Table \n",df_p,"\n\n Sales Tabls\n",df_s)
print()
print()
print("\n Products Table \n",df_products,"\n\n Sales Tabls\n",df_sales)

 Products Table
    product_id product_name     category  unit_price
0         101       Laptop  Electronics       500.0
1         102   Smartphone  Electronics       300.0
2         103   Headphones  Electronics        30.0
3         104     Keyboard  Electronics        20.0
4         105        Mouse  Electronics        15.0

 Sales Tabls
    sale_id  product_id  quantity_sold   sale_date  total_price
0        1         101              5  2024-01-01       2500.0
1        2         102              3  2024-01-02        900.0
2        3         103              2  2024-01-02         60.0
3        4         104              4  2024-01-03         80.0
4        5         105              6  2024-01-03         90.0



 Products Table
    product_id product_name     category  unit_price
0         101       Laptop  Electronics       500.0
1         102   Smartphone  Electronics       300.0
2         103   Headphones  Electronics        30.0
3         104     Keyboard  Electronics        20.0
4         105        Mouse  Electronics        15.0

 Sales Tabls
    sale_id  product_id  quantity_sold   sale_date  total_price
0        1         101              5  2024-01-01       2500.0
1        2         102              3  2024-01-02        900.0
2        3         103              2  2024-01-02         60.0
3        4         104              4  2024-01-03         80.0
4        5         105              6  2024-01-03         90.0

In [6]:
def fact(n):
    if n <= 0:
        return "N/A"
    if n == 1:
        return n
    return n * fact(n - 1)

if __name__ == "__main__":
    print(fact(5))

120